.otpform {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    /* overflow: hidden; */
    padding: 20px;
    background: #606c88;
    background: -webkit-linear-gradient(to right, #3f4c6b, #606c88);
    background: linear-gradient(to right, #3f4c6b, #606c88);
    max-width: 320px;
    margin: auto;
    border-radius: 20px;
  }
  
  .otpinfo {
    margin-bottom: 10px;
  }
  
  .otptitle {
    color: #fff;
    font-size: 1.5rem;
    line-height: 1.8rem;
    font-weight: 800;
    letter-spacing: -0.025em;
  }
  
  .otpdescription {
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .otpform .otpinputs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
   
  }
  
  .otpform .otpinputs input {
    height: 2.5em;
    width: 2.5em;
    outline: none;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    border-radius: 0.3em;
    border: 1px solid rgba(253, 253, 253, 0.363);
    background-color: rgb(255 255 255 / 0.05);
  }
  
  .otpform .otpinputs input:focus {
    border: 1px solid rgb(99 102 241);
  }
  
  .resend {
    color: #fff;
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
  }
  
  .resend-action {
    text-decoration: none;
    cursor: pointer;
    margin-left: 6px;
    color: rgb(255, 255, 255);
    font-weight: 600;
  }
  
  .resend-action:hover {
    text-decoration: underline #2b8af7;
  }
  
  .otpvalidate {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-decoration: none;
    background-color: #606c88;
    color: white;
    padding: 10px 20px;
    margin: 8px 0 0 0;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
    transition: .3s ease;
    
  }
  
  .otpvalidate:hover {
    background-color: #3f4c6b;
  }
  
  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #3f4c6b;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    border-radius: 50%;
    cursor: pointer;
    font-weight: 600;
    transition: .3s ease;
  }
  
  .close:hover {
    background-color: rgba(255, 0, 0, 0.603);
  }