
table{
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    border:1px solid yellow;
}
th{
    padding: 15px 0;
    background-color: #be8807;
    color: white;
}
td{
    border: 1px solid #ddd;
}
td>img{
    width: 30%;
}
.contentConatiner{
    width:85%;
    /* border:1px solid yellow; */
    margin:'auto'
}

tr:nth-child(even){background-color: #f2f2f2;}
.action{
    padding: 0px 30px;
}

.peginationBtn{
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #be8807;
    border: none;
    color: white;
    border-radius: 5px;
}

