.contentConatiner {
  padding: 20px 50px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
.action {
  padding: 0px 30px;
}

.peginationBtn {
  margin-top: 10px;
  padding: 3px 15px;
  color: rgb(94, 94, 94);
  background-color: #ffffff;
  border: none;
  font-weight: 700;
  font-size: 20px;
  border: 2px solid rgb(117, 104, 104);
  border-radius: 5px;
  margin-right: 5px;
}

.peginationBtn:focus,
.peginationBtn:hover {
  background-color: #ffffff;
  box-shadow: rgba(255, 221, 0, 0.3) 0px 0px 0px 3px;
}
.PaginationBOXXX {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
