.contentConatinerCust {
  min-height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto;
  row-gap: 10px;
  width: 100%;
  padding: 40px 80px;
  transition: all 300ms ease-in-out;
  background-color: #fafafa;
}
.RemoveButtonAdmin {
  background-color: rgb(251, 51, 51);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  width: 100px;
  font-weight: 500;
  border: 1px solid transparent;
  padding: 8px 15px;
  margin: 10px;
}
.customerCard {
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: white;
  border-radius: 8px;
  padding: 18px 12px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

h2 {
  font-size: 1rem;
}
.customerCard img {
  width: 100%;
}
.InfoBtnAdmin {
  background-color: #ffd632;
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 15px;
  padding: 8px 15px;
  border: 1px solid transparent;

  width: 100px;

  margin: 10px;
}
.InfoBtnAdmin:hover,
.RemoveButtonAdmin:hover {
  filter: saturate(4);
  border: 1px solid rgb(160, 160, 160);
}
