/* body{
    background-color: rgb(234, 227, 227)
} */
.loginpage{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    text-align: center;
    border-radius: 40px;
    box-shadow: 0 10px 60px 0 rgba(31,34,120,.1);
}
.loginpage>div{
    width: 35%;
    background-color: rgb(229, 226, 223);
    border-radius: 5px;
}
/* .loginpage>div:nth-child(2){
    width: 35%;
    background-color: rgb(228, 221, 209);
    text-align: center;
}
.loginpage>div:nth-child(1){
    width: 50%;
} */
.loginSideImg img{
    width: 100%;
    height:100vh;

}