.lawyer-list {
  width: 70%;
  padding: 30px;
  padding-top: 0px;
}

@media only screen and (max-width: 768px) {
  .lawyer-list {
    padding-top: 5rem;
  }
}

.LawyerArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
}
.LawyerFilterer {
  position: fixed;
  width: 27%;
  padding: 15px 20px;
  height: 80vh;
  z-index: 2;
  border-radius: 5px;
  top: 183px;
  left: 28px;
  transition: all 300ms ease-in-out;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.lawyer-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
legend {
  padding: 5px;
}
fieldset {
  font-size: 17px;

  padding: 15px;
}
fieldset label {
  cursor: pointer;
}
input[type="radio"] {
  width: 18px;
  height: 18px;
  margin-right: 10px;

  accent-color: rgb(255, 204, 0);
  vertical-align: middle;
}
input[type="radio"]:focus {
  box-shadow: none !important;
}
