* {
  margin: 0;
  /* box-sizing: border-box; */
}

.lawyer-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "name pic"
    "skills pic"
    "language pic";
  border: 1px solid #f1eded;
  height: 250px;
  padding: 1rem 2rem;
  width: 70%;
  background: #fcfcfc;
  margin-top: 2rem;
  border-radius: 20px;
  box-shadow: rgba(159, 159, 241, 0.05) 0px 1px 0px,
    rgba(72, 72, 207, 0.1) 0px 0px 8px;
}
/* ======= */
.lawyer-card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.card {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "name pic"
    "skills pic"
    "language pic";
  border: 1px solid #f1eded;
  height: 250px;
  padding: 1rem 2rem;
  width: 70%;
  background: #fcfcfc;
  margin-top: 2rem;
  border-radius: 20px;
  box-shadow: rgba(159, 159, 241, 0.05) 0px 1px 0px,
    rgba(72, 72, 207, 0.1) 0px 0px 8px;
  transition: all 0.4s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-2px);
}

.name-div {
  grid-area: name;
}

.experience {
  color: gray;
}

.bio {
  margin: 0.5rem 0;
  color: #9b9b9b;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.skills-div {
  grid-area: skills;
  display: flex;
  gap: 10px;
  padding: 1rem 0;
}

.skill {
  background: #cfebf5;
  border: 1px solid #83d9f8;
  border-radius: 18px;
  padding: 3px 16px 5px;
}

.languages {
  grid-area: language;
  display: flex;
  gap: 10px;
}

.language {
  background: #f5e7cf;
  border: 1px solid #f8e183;
  border-radius: 18px;
  padding: 3px 16px 5px;
}

.profile-pic {
  grid-area: pic;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.pic {
  width: 200px;
  height: 200px;
}
.pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* -------------  Search Bar CSS --------------------- */

.search-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #ffffff;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
/*
  .search-bar input{
    font-size: 22px;
    font-weight: 400;
    color: #757575;
    border: 1px solid rgb(186, 188, 190);
    outline: none;
    padding: .5rem 1rem;
    width: 50%;
    border-radius: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }

  .search-bar input::placeholder{
    font-size: 18px;
    color: #9b9b9b;
    font-weight: 100;
  } */

.group {
  display: flex;
  line-height: 28px;
  align-items: center;

  position: relative;
  /* border: 1px solid; */
  max-width: 390px;
}

.input {
  width: 330px;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}
.select {
  position: relative;
  top: -4px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: #3e4963;
  text-align: center;
  transition: background-color 0.5s ease;
}

label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}

label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}
