* {
  margin: 0;
}

.card {
  display: grid;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "name pic"
    "skills pic"
    "language pic";
  border: 1px solid #f1eded;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto auto auto auto;
  border: 1px solid #f1eded;
  padding: 1rem 2rem;
  width: 100%;
  background: #fcfcfc;
  margin-top: 2rem;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: all 0.4s;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-2px);
}
.name-div {
  /* grid-area: name; */
  grid-column: 1/2;
  grid-row: 1/2;
}

.experience {
  color: gray;
}

.bio-div {
  grid-column: 1/2;
  grid-row: 2/3;
}

.bio {
  margin: 0.5rem 0;
  color: #9b9b9b;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.skills-div {
  /* grid-area: skills; */
  grid-column: 1/2;
  grid-row: 3/4;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1rem 0;
}

.skill {
  background: #ffd83e;
  border: 1px solid #ffffff;
  border-radius: 18px;
  padding: 0.4% 2.4%;
}

.languages {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  gap: 10px;
}

.language {
  background: #f5e7cf;
  border: 1px solid #f8e183;
  border-radius: 18px;
  padding: 0.4% 2.4%;
}

.profile-pic {
  grid-column: 2/3;
  grid-row: 1/5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.pic {
  width: 96%;
  /* height: 200px; */
}

.pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

/* -------------  Search Bar CSS --------------------- */

.search-bar {
  position: static;
  top: 100px;
  width: 100%;
  background: #ffffff;
  padding: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 4px 4px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;

  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.search-bar input {
  font-size: 22px;
  font-weight: 400;
  color: #757575;
  border: 1px solid rgb(186, 188, 190);
  outline: none;
  padding: 0.5rem 1rem;
  width: 100%;
  border-radius: 20px;
  position: relative;
  left: 50%;
  transition: all 300ms ease-in-out;
  transform: translateX(-50%);
}

.search-bar input:focus,
.search-bar input:hover {
  border: 1px solid yellow;
  box-shadow: none !important;
  width: 110%;
}
.search-bar input::placeholder {
  font-size: 18px;
  color: #9b9b9b;
  font-weight: 200;
}

.group {
  display: flex;
  line-height: 28px;
  align-items: center;

  position: relative;
  /* border: 1px solid; */
  max-width: 390px;
}

.input {
  width: 330px;
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #f3f3f4;
  color: #0d0c22;
  transition: 0.3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus,
input:hover {
  outline: none;
  border-color: rgba(234, 76, 137, 0.4);
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.select {
  position: relative;
  top: -4px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em 0.75em;
  position: relative;
  margin-left: 0.0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: 0.05em;
  color: #3e4963;
  text-align: center;
  transition: background-color 0.5s ease;
}
.searchDot {
  position: absolute;
  opacity: 0.5;
  top: 20%;
  right: 5%;
  width: 20px;
}
label:first-child span {
  border-radius: 0.375em 0 0 0.375em;
}
.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #edcd00;
  background-color: #fdffde;
  z-index: 1;
  color: #000000;
}

label:last-child span {
  border-radius: 0 0.375em 0.375em 0;
}

@media only screen and (max-width: 768px) {
  body {
    background-color: lightblue;
  }

  .card {
    width: 96%;
  }

  .profile-pic {
    grid-row: 1/2;
  }

  .bio-div {
    grid-column: 1/3;
  }

  .skills-div {
    grid-column: 1/3;
  }

  .languages {
    grid-column: 1/3;
  }

  .search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;
  }

  .mydict div {
    display: flex;
    flex-wrap: nowrap;
  }

  .search-by {
    display: none;
  }
}
