.contentNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}
.SectionNameAdmin {
  font-size: 38px;
}
.contentNav > div:nth-child(3) {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentNav > div > div {
  position: relative;
  width: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contentNav input[type="search"] {
  width: 100%;
  padding: 7px 0;
  border: 2px solid #ffd117;
  border-radius: 5px;
}
select {
  width: 30%;
  padding: 7px 0;
  border: 2px solid black;
  border-radius: 5px;
}
.searchIcon {
  position: absolute;
  z-index: 1;
  right: 10px;
}

.addBtn {
  margin-left: 10px;
  padding: 5px 10px;
  border: 2px solid #ffd117;
  background-color: white;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 48% 50%;
  padding: 0 8px;
  color: black;
  font-weight: 800px;
}

.addlawyerdiv {
  border: 2px solid grey;
  padding: 10px 25px;
  border-radius: 10px;
  color: black;
  font-weight: 800px;
}
.addlawyerdiv:hover {
  background-color: rgba(255, 255, 0, 0.365);
  border: 2px solid black;
}
.userName {
  font-size: 1.3rem;
}

.selectoption {
  width: 0%;
}
