* {
  margin: 0px;
  padding: 0px;
}
.HearderAdminPage {
  font-size: 44px !important;
  font-weight: 700;
}
.DashboardHeader {
  width: 100%;
  margin: auto;
  height: 18vh;
  display: flex;
  padding: 0px 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
