.SideBarX {
  height: 100%;
  display: flex;
}
.main {
  width: 95%;
  margin: auto;
  padding: 20px;
}
.sidebar {
  background-color: black;
  color: white;
  height: auto;
  width: 300px;
  border: 1px solid black;
}
.top_section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 25px;
}
.bars {
  font-size: 25px;
  display: flex;
  margin-left: 30px;
}

.link {
  display: flex;
  color: white;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  cursor: pointer;
  transition: all 0.5s;
  color: #d6ac01;
  background: white;
}
.SMactive {
  color: #d6ac01;
  background-color: white;
}
.Sidebaricons {
  font-size: 20px;
}
.link_text {
  font-size: 18px;
}

/* ---------------------- */

/* .container{
  display: flex;
}
main{
  width: 90%;
  padding: 20px;
}
.sidebar{
  background-color:black;
  color:white;
  height: auto;
  width: 300px;
  border: 1px solid black;
}
.top_section{
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo{
  font-size: 25px;
}
.bars{
  font-size: 25px;
  display: flex;
  margin-left: 30px;
}

.link{
  display: flex;
  color: white;
  padding: 10px 15px;
  gap:15px;
  transition: all 0.5s;
}
.link:hover{
  cursor: pointer;
  transition: all 0.5s;
  color: #d6ac01;
  background: white;
}
.active{
  color: #d6ac01;
  background-color: white;
}
.icon{
  font-size: 20px;
}
.link_text{
  font-size: 18px;
} */
